* {
    box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

body {
    background-color: #F1F1F1;
    margin: 0;
    text-align: center;
}

.right-bar {
    float: right;
    padding: 10px;
    width: 15vw;
}

.right-bar div {
    border: 1px solid rgb(128, 128, 128);
    background-color: #F4F4F4;
    width: 80%;
    margin: 5%;
    padding: 10% 5% 10% 5%;
    display: block;
}

#main {
    text-align: left;
    display: inline-block;
    padding: 20px 2vw 0 2vw;
    height: 100lvh;
    background-color: white;
}

#left-bar {
    margin-top: 10%;
    float: left;
}

#left-bar a {
    margin: auto;
    text-decoration: none;
    display: block;
}

h1 {
    margin: 0;
}

#top-menu li {
    display: inline-block;
}

#top-menu a:hover {
    background-color: black;
    color: white;
}

#top-menu li ul {
    position: absolute;
    visibility: hidden;
    background-color: black;
    padding: 0;
}

#top-menu li ul li {
    margin: 0;
    padding: 20px;
    color: whitesmoke;
    display: block;
}

#top-menu li:hover ul {
    visibility: visible;
}

#top-menu a {
    display: block;
    text-decoration: none;
    color: #9D9D9D;
    font-family: Arial serif;
    padding: 14px 16px;
    font-size: 2rem;
}

#top-menu {
    background-color: #222222;
    padding: 0;
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #222f3e;
    height: 10lvh;
    color: #ecf0f1;
}

.footer p {
    margin: 0;
    padding: 2%;
    font-size: 2rem;
    font-weight: bold;
}